.movies .m1 {
    background-image: url("./image//Movies/BirdsOfPreyAndTheFantabulousEmancipationOfOneHarleyQuinn2020.jpg");
}

.movies .m2 {
    background-image: url("./image/Movies/Capture2026.jpg");
}

.movies .m3 {
    background-image: url("./image/Movies/ClashOFTheThundermans2026.jpg");
}

.movies .m4 {
    background-image: url("./image/Movies/RunHideFightInfidels2026.jpg");
}

.movies .m5 {
    background-image: url("./image/Movies/TarungUnforgiven2026.jpg");
}

.movies .m6 {
    background-image: url("./image/Movies/WhyDidIGetMarriedAgain2026.jpg");
}

.series .s1 {
    background-image: url("./image/Series/ApolloHasFallen.jpg");
}

.series .s2 {
    background-image: url("./image/Series/CrewGirl.jpg");
}

.series .s3 {
    background-image: url("./image/Series/MonsterTheLizzieBordenStory.jpg");
}

.series .s4 {
    background-image: url("./image/Series/Neagley2026.jpg");
}

.series .s5 {
    background-image: url("./image/Series/Route187.jpg");
}

.series .s6 {
    background-image: url("./image/Series/TheDoll.jpg");
}

.anime .a1 {
    background-image: url("./image/Anime/Dandelion.jpg");
}

.anime .a2 {
    background-image: url("./image/Anime/Dorohedoro.jpg");
}

.anime .a3 {
    background-image: url("./image/Anime/Kampfer.jpg");
}

.anime .a4 {
    background-image: url("./image/Anime/NozokiAna.jpg");
}

.anime .a5 {
    background-image: url("./image/Anime/Plunderer.jpg");
}

.anime .a6 {
    background-image: url("./image/Anime/TheVillagerOfLevel999.jpg");
}

.chinese .c1 {
    background-image: url("./image/Chinese/PursuitofJade.jpg");
}

.chinese .c2 {
    background-image: url("./image/Chinese/SpringoftheBlade.jpg");
}

.chinese .c3 {
    background-image: url("./image/Chinese/TheFixers.jpg");
}

.chinese .c4 {
    background-image: url("./image/Chinese/TheLionsSecret.jpg");
}

.chinese .c5 {
    background-image: url("./image/Chinese/TheSecretoftheLostPearl.jpg");
}

.chinese .c6 {
    background-image: url("./image/Chinese/TheSweetestSecret.jpg");
}

.korean .k1 {
    background-image: url("./image/Korean/ATrapCalledDesire.jpg");
}

.korean .k2 {
    background-image: url("./image/Korean/DearMyName.jpg");
}

.korean .k3 {
    background-image: url("./image/Korean/Mousetrap.jpg");
}

.korean .k4 {
    background-image: url("./image/Korean/Reverse.jpg");
}

.korean .k5 {
    background-image: url("./image/Korean/Summertime2026.jpg");
}

.korean .k6 {
    background-image: url("./image/Korean/TheScandal2026.jpg");
}

.thai .t1 {
    background-image: url("./image/Thai/46Days.jpg");
}

.thai .t2 {
    background-image: url("./image/Thai/JulietJuliet.jpg");
}

.thai .t3 {
    background-image: url("./image/Thai/KhomKhlang.jpg");
}

.thai .t4 {
    background-image: url("./image/Thai/LoveDestiny.jpg");
}

.thai .t5 {
    background-image: url("./image/Thai/MrFanboy.jpg");
}

.thai .t6 {
    background-image: url("./image/Thai/SunsetInWinter2026.jpg");
}